@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

.shadow95 {
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.spin-enter {
  animation: spinEnter 0.6s ease;
}

.spin-leave {
  animation: spinLeave 0.6s ease;
}

@keyframes spinEnter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinLeave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Todas começam invisíveis */
.animate-eclipse,
.animate-patins,
.animate-star-1,
.animate-star-2 {
    opacity: 0;
}

/* Eclipse */
.animate-eclipse {
    animation: eclipseIntro .9s cubic-bezier(.22,1,.36,1) forwards;
}

/* Patins */
.animate-patins {
    animation: patinsIntro .8s cubic-bezier(.22,1,.36,1) .45s forwards;
}

/* Estrela esquerda */
.animate-star-1 {
    animation:
        starLeftIntro .55s ease-out 1s forwards,
        floatStar1 3.2s ease-in-out 1.6s infinite;
}

/* Estrela direita */
.animate-star-2 {
    animation:
        starRightIntro .55s ease-out 1.25s forwards,
        floatStar2 3.5s ease-in-out 1.85s infinite;
}

/* ===================== */
/* Keyframes */
/* ===================== */

@keyframes eclipseIntro {
    from {
        opacity: 0;
        transform: scale(.75);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes patinsIntro {
    from {
        opacity: 0;
        transform: translateY(40px) scale(.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes starLeftIntro {
    from {
        opacity: 0;
        transform: translate(-18px, 18px) rotate(-35deg) scale(.2);
    }

    to {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1);
    }
}

@keyframes starRightIntro {
    from {
        opacity: 0;
        transform: translate(18px,-18px) rotate(35deg) scale(.2);
    }

    to {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1);
    }
}

/* Movimento contínuo */

@keyframes floatStar1 {
    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

@keyframes floatStar2 {
    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}