.bgGroud {
        background: #F7F7FF 
        url('assets/images/bg-top.svg') no-repeat right top;
        background-size: 100% auto;  /* Ajuste o tamanho conforme necessário */
        margin: 0;
        min-height: 100vh;
        background-position: right -260px top -60px;
      }
.shadowB {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

      @media (min-width: 1024px) {
  .bgGroud {
    background-color: #F7F7FF;

    background-image:
      url('assets/images/bg-top.svg'),
      url('assets/images/bg-bottom.svg');

    background-repeat:
      no-repeat,
      no-repeat;

    background-position:
      right top,
      left bottom;

    background-size:
      auto,
      auto;

    min-height: 100vh;
  }
}
